@import "tailwindcss";


@theme {
  --color-primary: #0A1329; /* Notre Bleu Nuit premium */
  --color-accent: #F59E0B;  /* Notre Ambre doré/vibrant */
  --color-secondaryText: #d4d4d4; /* Gris clair pour la lisibilité */
}
